@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model VideoViewModel;
    ViewBag.Title = "Details";
}



<div>Id: @Model.Id</div>
<div>Title: @Model.Title</div>
<div>Genre: @Model.Genre</div>
<div>@Html.ActionLink("Go Back", "Index")</div>

@section footer{
    <div>This is the Details footer</div>
}
